<div class="row mb-5">
  <div class="col-4">

  </div>
  <div class="col-4">
    <form method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1">ID</label>
        <input type="text" class="form-control" id="txtcatID" name="detailID" readonly value="{{this.detailCate.detailID}}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Chuyên mục</label>
        <input type="text" class="form-control" id="detailID" name="subCatName" value="{{this.detailCate.subCatName}}"
          autofocus>
      </div>

      <div>

        <a class="btn btn-success" href="/admin/categories/list" role="button">
          <i class="fa fa-backward" aria-hidden="true"></i>
        </a>
        <button type="submit" class="btn btn-primary" formaction="/admin/categories/update">update</button>
        <button type="submit" class="btn btn-danger" title="Remove Category" formaction="/admin/categories/del">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>


    </form>
  </div>

</div>