<form method="POST" action="">
  <div class="form-group">
    <label for="exampleInputPassword1">User name</label>
    <input class="form-control" id="txtuser" name="username" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">fullname</label>
    <input type="text" class="form-control" id="txtfullname" name="fullname" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="pw" name="password" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Type</label>
    <input type="text" class="form-control" id="tp" name="type" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <a class="btn btn-success" href="/admin/accounts/list" role="button">
    <i class="fa fa-backward" aria-hidden="true"></i>
  </a>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>