<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/home.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row topbar-section">
      <div class="col-12">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-2 hidden-xs-down">
              <div class="logo">
                <a href="/"><img src="imgs/logo.png" alt="colapedia"></a>
              </div>
            </div>
            <div class="col-lg-8 col-sm-12 col-md-10 p-0">
              <div class="top-search pt-2">
                <nav class="navbar navbar-light p-0">
                  <form class="form-inline col-12 p-0" action="/">
                    <input class="form-control mr-sm-2 col-10" type="search" placeholder="Nhập nội dung hoặc chủ đề..."
                      aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                      <i class="fa fa-search" aria-hidden="true"></i></button>
                  </form>
                </nav>
              </div>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-2 p-0">
              <div class="top-login pt-3 text-right">
                {{#if isLogin}}
                <div class="dropdown">
                  <p style="color:white" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"
                    role="button">
                    {{authUser.fullname}} <i class="fa fa-cog" aria-hidden="true"></i></p>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#"><i class="fa fa-user" aria-hidden="true"></i> Cá nhân</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <form action="/logout" method="POST">
                      <button class="dropdown-item" type="submit"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng
                        xuất</button>
                    </form>
                  </div>
                </div>
                {{else}}
                <a href="/login">Login</a>/
                <a href="/register">Register</a>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row top-nav">
      <div class="col-12">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?cate=congnghe">Công nghệ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?cate=vanhoa">Văn hóa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?cate=xahoi">Xã hội</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?cate=thethao">Thể thao</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?cate=yte">Y Tế</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/?cate=giaoduc">Giáo dục</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      {{{body}}}
    </div>
  </div>
  <footer>
  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/home.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>