@media (max-width: 767px) {
    .hidden-xs-down {
        display: none !important;
    }
}

@media (min-width: 767px) {
    .hidden-sm-up {
        display: none !important;
    }
}

.topbar-section {
    background-color: rgb(86, 61, 124);
}

.top-login {
    color: white;
    text-decoration: none;
}

.top-login>a {
    color: white;
}

.top-login p {
    color: white;
}

.top-login>a:active {
    color: rgb(74, 240, 74)
}

.top-login>a:hover {
    color: rgb(74, 240, 74)
}

.top-nav {
    padding: 0.4rem 0;
    background-color: rgb(63, 48, 89);
}

.top-nav a {
    color: white;
}

.top-carousel {
    max-height: 10vmin;
}

.top-carousel img {
    width: 100%;
    height: 100vmin;
}

.content-title {
    color: red;
    border-left: red solid 4px;
}

.left-content {
    background-color: #8a2be2;
}

.image-top10 {
    min-height: 6.25vw;
}

.title-top10 {
    font-size: 18px;
}

.title-top10 a {
    text-decoration: none;
    color: #212529;
}

.title-top10 a:hover {
    text-decoration: none;
    color: #2fa1b3;
}

.avatar:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .5s ease;
}

.sub-title {
    font-size: 15px;
    color: rgb(177, 177, 177);
}

.sub-title a {
    color: rgb(177, 177, 177);
    text-decoration: none;
}

.sub-title a:hover {
    text-decoration: none;
    color: #2fa1b3;
}

.sub-title button {
    size: auto;
}

.dropdown-toggle::after {
    border: none !important;
}

.dropdown-item {
    color: black !important;
}

.category>button:focus {
    box-shadow: none;
}

.category button {
    color: white !important;
}

.lighten-3 {
    background-color: #74a1c7;
}

.list-unstyled a {
    text-decoration: none;
}

.btn-floating {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 45px;
    height: 45px;
}

.btn-floating:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .5s ease;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
    padding: 7px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-google {
    color: #fff;
    background-color: #dd4b39;
}

.btn-dribbble {
    color: #fff;
    background-color: #ec4a89;
}

#goto-top-page {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    background: rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition-duration: .2s;
}

#goto-top-page:hover {
    background: rgba(0, 0, 0, .7);
    width: 50px;
    height: 50px;
    line-height: 50px;
}