nav {
    background-color: rgb(111, 229, 245);
}

.introCt {
    top: 200px;
    left: 790px;
    height: 310px;
}

.button {
    font-size: 18px;
    width: 140px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: rgb(214, 248, 21);
}

.content {
    top: 200px;
}

.bgLogin {
    background: -webkit-gradient(linear, left bottom, right top, from(#08aeea), to(#b721ff));
    background: -webkit-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
    background: -moz-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
    background: -o-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
    background: linear-gradient(to top right, #08aeea 0%, #b721ff 100%);
    width: 100vh;
    background-size: cover;
    height: 100vh;
    top: 10vh
}

.header-formLogin {
    text-align: center;
    padding-top: 20px;
    width: 100%;
    height: 20vh;
}

.wrap-input {
    width: 100%;
    font-size: 22px;
    height: 12vh;
}

.wrap-input input {
    padding-top: 3px;
    width: 100%;
    outline: none;
}

.form {
    top: 1vh;
    border: 1px solid #dee2e6;
}

.bodyForm {
    padding-left: 30px;
    padding-right: 30px;
}

.forgot-pw {
    font-size: 14px;
}

.btnLogin {
    padding-top: 20px;
}

.btnLogin button {
    background-image: linear-gradient(to bottom right, rgb(25, 196, 25), yellow);
    border-radius: 15px;
    border: none;
    width: 100%;
    font-size: 30px;
}

.btnLogin button:active {
    outline: none;
}

.warning {
    font-size: 15;
    color: red;
}

@media (max-width: 767px) {
    .header-formLogin {
        text-align: center;
        width: 100%;
    }
    .bgLogin {
        background-image: none;
    }
    .form {
        border: none;
    }
}

.bodyForm a:hover {
    text-decoration: none;
}