<div class="row">
  <div class="col-3">

  </div>
  <div class="col-6">
    <form method="POST" action="">
      <div class="form-group">
        <label for="exampleInputEmail1">PostID</label>
        <input type="text" class="form-control" id="txtpostID" name="postsID"  >
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Title</label>
        <input type="text" class="form-control" id="txtTitle" name="title"  >
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">CatID</label>
        <input type="text" class="form-control" id="txtCatId" name="catID"  >
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Writer</label>
        <input type="text" class="form-control" id="txtWriter" name="writer"  >
      </div>
     <div class="form-group">
        <label for="exampleInputEmail1">Approver</label>
        <input type="text" class="form-control" id="txtapprover" name="approver"  >
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Views</label>
        <input type="text" class="form-control" id="txtcatID" name="views" >
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Status</label>
        <input type="text" class="form-control" id="txtstatus" name="status" >
      </div>

        <a class="btn btn-success" href="/admin/posts/list" role="button">
          <i class="fa fa-backward" aria-hidden="true"></i>
        </a>
        <button type="submit" class="btn btn-primary" >Submit</button>
       
      </div>


    </form>
  </div>

</div>