<div class="container">
    <div class="row">
        <div class="col-12 title-category">
            Category
        </div>
        <div class="col-8 main">
            <div class="row posts">
                <div class="col-4 posts-image">
                    image
                </div>
                <div class="col-8 posts-title">
                    title
                </div>
            </div>
            <div class="row posts">
                <div class="col-4 posts-image">
                    image
                </div>
                <div class="col-8 posts-title">
                    title
                </div>
            </div>
        </div>
        <div class="col-4 left-content">
            <div class="row">
                <div class="col-3 image-top10">
                    image-top10
                </div>
                <div class="col-9 title-top10">
                    title-top10
                </div>
            </div>
        </div>
    </div>
</div>